
main {
    display: flex;
    flex-wrap: wrap;
}

body.blog {

    .main-column {
        padding:0 10px;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .site-content {
      width: 100%;
    }

    .contents {
        padding-top: 35px;
    }

    .post-block {
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
        width: calc(50% - 20px);
        margin:9px;

        &:first-of-type {
            grid-column: 1 / span 2;
            width: 100%;
            margin-bottom: 30px;
        }

        .post-thumbnail {
            display: flex;
            width: 100%;
            object-fit: cover;
            margin-bottom: 20px;

            a {
                display:block;
                width: 100%;
            }

            img {
                width: 100%;
            }
        }

        .inner-content {
          padding:0 20px;
        }

        .post-info {
            font-style: normal;
            padding: 0;
        }
        
        h2 a {
            color: @text-color-default;
        }

        .read-more {
            color: initial;
            font-size: 10px;
            margin-left: 2px;
        }
    }
}

body.single-post {  

  .site-content {
    width: 100%;
  }
  
  .post-single {
  
    .post-thumbnail {
        display: block;
        width: 100%;

        a {
            display:block;
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
    
    h1 {
        padding: 20px 50px 10px 50px;
    }

    h2 {
      margin-bottom: 10px;
    }
    
    .post-info,
    .post-comments {
        padding: 5px 50px;
        margin: 0;
    }
    
    .post-inner-content {
        padding: 10px 100px;
    }

    section {
      margin-top: 20px;
      margin-bottom: 40px;
    }
    
    figure {
        margin: 0;
    }
    
    figcaption {
        margin: 0;
        text-align: left;
    }

    .wp-caption-text {
      margin-top: 5px;
      margin-bottom: 20px;
      font-size: .8em;
    }

    .sfsi_widget {
        display: flex;
        justify-content: flex-end;
    }

.entry-content img,
.comment-content img,
.widget img {
    max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
}
img.size-full {
    max-width: 97.5%;
    width: auto; /* Prevent stretching of full-size images with height and >>width attributes in IE8 */
}    
.wp-caption { max-width: 100%; }

  } 
}
