footer {
  margin-top: 0;
  line-height: 30px;
  display: block;
  clear: both;
  height: auto;
  text-align: center;
  font-size: 11px;
  background-color: #4c4748;
  color: #ffffff;
}
footer section,
footer section:first-child,
footer section:last-child,
footer section:nth-child(even) {
  display: block;
  text-align: center;
  width: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
footer a,
footer a:hover,
footer a:visited,
footer a:active,
footer a:link {
  color: #ffffff;
}
footer #facebooklink,
footer #twitterlink,
footer #instagramlink {
  display: inline-block;
  width: 23px;
  height: 23px;
  vertical-align: middle;
  margin-left: 5px;
  background-repeat: no-repeat;
  position: relative;
  top: -3px;
}
footer #facebooklink {
  background-image: url('img/facebook.png');
}
footer #twitterlink {
  background-image: url('img/twitter.png');
}
footer #instagramlink {
  background-image: url('img/instagram.png');
}