header ul {
    list-style-type: none;
    position: static;
    display: none;
    right: auto;
    margin-top: 1px;
    margin: 0;
    padding: 0;
    right: 0;
}
header li {
    margin-bottom: 1px;
    margin-right: 0;
}
body.press #menu a[href*="press"],
body.policies #menu a[href*="policies"],
body.group #menu a[href*="group"],
body.group-rentals #menu a[href*="group-rentals"],
body.index #menu a[href*="index"],
body.home #menu .current-menu-item a,
body.reservations #menu a[href*="reservations"],
body.location #menu a[href*="location"],
body.policies #menu a[href*="policies"],
body.rooms #menu a[href*="room"] {
    background-color: #fadf17;
    color: #464646;
}

header ul li a {
    width: 100%;
}
header li a {
    border-width: 0 1px 1px 1px;
    border-color: #ffffff;
    display: block;
    height: 40px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    background: #666666;
}
header li a,
header li a:hover,
header li a:visited,
header li a:active,
header li a:link {
    color: #ffffff;
    text-decoration: none;
}
header li a:hover {
    background: #fadf17;
    color: #464646;
}