/* For devices larger than 400px */
@media (min-width: 400px) {
    .layoutgrid {
      width: 100%;
    }
  }
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .layoutgrid {
      width: 98%;
    }
    .column,
    .columns {
      margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
      margin-left: 0;
    }
    .one.column,
    .one.columns {
      width: 4.66666666667%;
    }
    .two.columns {
      width: 13.3333333333%;
    }
    .three.columns {
      width: 22%;
    }
    .four.columns {
      width: 30.6666666667%;
    }
    .five.columns {
      width: 39.3333333333%;
    }
    .six.columns {
      width: 48%;
    }
    .seven.columns {
      width: 56.6666666667%;
    }
    .eight.columns {
      width: 65.3333333333%;
    }
    .nine.columns {
      width: 74.0%;
    }
    .ten.columns {
      width: 82.6666666667%;
    }
    .eleven.columns {
      width: 91.3333333333%;
    }
    .twelve.columns {
      width: 100%;
      margin-left: 0;
    }
    .one-third.column {
      width: 30.6666666667%;
    }
    .two-thirds.column {
      width: 65.3333333333%;
    }
    .one-half.column {
      width: 48%;
    }
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
      margin-left: 8.66666666667%;
    }
    .offset-by-two.column,
    .offset-by-two.columns {
      margin-left: 17.3333333333%;
    }
    .offset-by-three.column,
    .offset-by-three.columns {
      margin-left: 26%;
    }
    .offset-by-four.column,
    .offset-by-four.columns {
      margin-left: 34.6666666667%;
    }
    .offset-by-five.column,
    .offset-by-five.columns {
      margin-left: 43.3333333333%;
    }
    .offset-by-six.column,
    .offset-by-six.columns {
      margin-left: 52%;
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
      margin-left: 60.6666666667%;
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
      margin-left: 69.3333333333%;
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
      margin-left: 78.0%;
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
      margin-left: 86.6666666667%;
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
      margin-left: 95.3333333333%;
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
      margin-left: 34.6666666667%;
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
      margin-left: 69.3333333333%;
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
      margin-left: 52%;
    }
  }

  /* Mobile first queries */
  /* Larger than mobile */
  @media (max-width: 549px) {
    .pressbox .press-image.new-york-times {
      max-width: 250px;
      min-width: 75px;
    }
  }
  @media (min-width: 550px) and (max-width: 800px) {
    body.index #heycation .columns {
      display: block !important;
      width: 100% !important;
      margin: 0 !important;
    }
  }
  /* Larger than phablet */
  @media (min-width: 550px) {
    body.index #exhibiting {
      margin-top: 0;
    }
    .pressbox {
      margin-top: 0px;
    }
    .pressbox .press-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .pressbox .press-image.new-york-times {
      max-width: 150px;
      min-width: 75px;
    }
    body.rooms .dropdownnav {
      display: none;
    }
    body.rooms .sidenav ul.list-unstyled {
      display: block;
    }
    body.rooms .thumbnail {
      vertical-align: middle;
      display: inline;
      max-width: 45%;
    }
    body.rooms .swipebox {
      display: inline;
    }
  }

  /* Larger than tablet */
@media (min-width: 800px) {
    header ul {
        position: absolute;
        margin-top: 59px;
        z-index: 1000;
        display: block;
    }
    header li {
        /* display: inline-block; */
        float: left;
        width: auto;
        margin-right: 20px;
    }
    header li a {
        border: 0;
        display: inline-block;
        line-height: 25px;
        height: auto;
        color: #464646;
        text-align: inherit;
        background-color: transparent;
    }
    header li a,
    header li a:hover,
    header li a:visited,
    header li a:active,
    header li a:link {
        color: #464646;
        text-decoration: none;
    }
    header li a:hover {
        background: none;
        border-bottom: 3px solid #fadf17;
        color: #464646;
    }
    
    body.press #menu a[href*="press"],
    body.policies #menu a[href*="policies"],
    body.group #menu a[href*="group"],
    body.group-rentals #menu a[href*="group-rentals"],
    body.index #menu a[href*="index"],
    body.home #menu .current-menu-item a,
    body.reservations #menu a[href*="reservations"],
    body.location #menu a[href*="location"],
    body.policies #menu a[href*="policies"],
    body.rooms #menu a[href*="room"] {
        border-bottom: 3px solid #fadf17;
        background-color: transparent;
        color: #464646;
    }
}

  /* Larger than tablet */
  @media (min-width: 800px) {
    .container {
      padding-top: 15px;
    }
    
    header .header-logo {
      width: 209px;
      height: 111px;
      display: inline-block;
      background: url('/images/heywood-logo.svg') center center no-repeat;
      margin: 0;
      position: relative;
      z-index: 1000;
    }
    header ul {
      position: absolute;
      margin-top: 59px;
      z-index: 1000;
      display: block;
    }
    header li {
      display: inline-block;
      float: left;
      width: auto;
      margin-right: 20px;
    }
    header li a {
      border: 0;
      display: inline-block;
      line-height: 25px;
      height: auto;
      color: #464646;
      text-align: inherit;
      background-color: transparent;
    }
    header li a,
    header li a:hover,
    header li a:visited,
    header li a:active,
    header li a:link {
      color: #464646;
      text-decoration: none;
    }
    header li:hover a {
      background: none;
      border-bottom: 3px solid #fadf17;
      color: #464646;
    }
    header .show-menu {
      display: none;
    }
    #menu a {
      border-bottom: 0;
    }
    .pressbox .press-image.new-york-times {
      max-width: 250px;
      min-width: 75px;
    }
    body.index #menu a[href*="index"] {
      background-color: transparent;
      border-bottom: 3px solid #fadf17;
    }
    body.reservations #menu a[href*="reservations"] {
      background-color: transparent;
      border-bottom: 3px solid #fadf17;
    }
    body.rooms #menu a[href*="room"] {
      background-color: transparent;
      border-bottom: 3px solid #fadf17;
    }
    body.rooms .sidenav {
      display: block;
    }
    body.location #menu a[href*="location"] {
      background-color: transparent;
      border-bottom: 3px solid #fadf17;
    }
    body.location .splitcolumns {
      padding-top: 10px;
    }
    body.location .splitcolumns .halfcolumn {
      width: 49%;
      display: inline-block;
      position: relative;
      vertical-align: top;
    }
    body.press #menu a[href*="press"] {
      background-color: transparent;
      border-bottom: 3px solid #fadf17;
    }
    body.policies #menu a[href*="policies"] {
      background-color: transparent;
      border-bottom: 3px solid #fadf17;
    }
    body.group #menu a[href*="group"] {
      background-color: transparent;
      border-bottom: 3px solid #fadf17;
    }	
     body.specials #menu a[href*="specials"] {
      background-color: transparent;
      border-bottom: 3px solid #fadf17;
    }  
    .contents {
      border-top: 3px solid #4c4748;
      border-right: 3px solid #4c4748;
      border-bottom: 3px solid #4c4748;
      border-left: 3px solid #4c4748;
      position: relative;
      top: -27px;
      padding: 25px 5px 20px 5px;
      background-color: #ffffff;
      overflow-x: hidden;
      overflow-y: visible;
    }
    article.page > img {
        width: 100%;
    }
    footer {
      margin-top: -27px;
      height: 30px;
      position: relative;
      display: table;
      width: 100%;
    }
    footer section {
      display: table-cell !important;
      padding-left: 5px;
      padding-right: 5px;
      width: 33.33%;
    }
    footer section:first-child {
      padding-left: 15px;
    }
    footer section:nth-child(even) {
      text-align: center;
    }
    footer section:last-child {
      text-align: right;
      padding-right: 15px;
    }
  }

  @media (min-width: 900px) {
    .pressbox .press-image {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }
  }